.pagination {
  border-top: .5px solid var(--grey-2);
  font-family: $sans-serif;
  padding-top: 2rem;
  position: relative;
  text-align: center;

  span {
    color: var(--default-shade);
    opacity: 0.85;
    font-size: 1.05rem;
  }

  .top {
    @include transition(all .3s ease-out);
    color: var(--blue);
    font-family: $sans-serif;
    font-size: 1.3rem;
    line-height: 1;

    &:hover {
      opacity: .6;
    }
  }

  .arrow {
    @include transition(all .3s ease-out);
    color: var(--blue);
    position: absolute;
    font-size: 1.3rem;
    line-height: 1;

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
